.Company {

  margin-bottom: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: calc(4rem + (5 - 4) * ((100vw - 320px) / (1248 - 320)));
  padding-left: calc(2rem + (2 - 2) * ((100vw - 320px) / (1248 - 320)));
  padding-right: calc(2rem + (2 - 2) * ((100vw - 320px) / (1248 - 320)));
}

.background {

}

.content {

  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  & .span {
    font-size: 16px;
    padding: 2rem 0;

    
    & span {
      display: inline-block;
      font-weight: 555;
      color: blue;
    }
  }
  & .content__body {

    gap: 40px;
    line-height: 43px;
    line-height: calc(20px + (43 - 20) * ((100vw - 320px) / (1248 - 320)));
    display: grid;
    grid-template-rows: 2;
    grid-template-columns: repeat(1, minmax(150px, 790px));
    font-size: 24px;
    

    & .content__item {
      & a {
        border-bottom: 3px solid blue;
        border-radius: .3rem;
        color: black;
      }

    }
    & .content__item2 {
      
    }
  }
}

@media(max-width: 645px) {
  .content {

    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  
    & .span {
      font-size: 14px;
      padding: 2rem 0;
  
      
      & span {
        display: inline-block;
        font-weight: 555;
        color: blue;
      }
    }
    & .content__body {
  
      gap: 30px;
      line-height: 32px;
      line-height: calc(20px + (43 - 20) * ((100vw - 320px) / (1248 - 320)));
      display: grid;
      grid-template-rows: 2;
      grid-template-columns: repeat(1, minmax(150px, 790px));
      font-size: 16px;
      
  
      & .content__item {
        & a {
          border-bottom: 2px solid blue;
          border-radius: .3rem;
          color: black;
        }
  
      }
      & .content__item2 {
        
      }
    }
  }
}