.VacanciesCard {
  // max-width: 450px;
  // text-align: left;
  // border: 1px solid red;
  & .react_contain {
    // border: 2px solid blue;
    text-align: left;
    padding-left: 2rem;
    & span {
      display: inline-block;
      font-size: 80px;
      color: rgb(91, 207, 217);
      margin: 0 0 1rem 0;

      & .react {
      }
    }
  }

  & h3 {
    font-size: 20px;
    color: rgb(85, 85, 234);
    font-weight: 555;
    margin: 0 0 2rem 0;

    padding-left: 2rem;
  }
  & p {
    font-size: 15px;
    padding-left: 2rem;
    line-height: 23px;
  }
}

@media (max-width: 1158px) {
  
  .VacanciesCard {
    // max-width: 450px;
    // text-align: left;
    // border: 1px solid red;
    & .react_contain {
      // border: 2px solid blue;
      text-align: left;
      padding-left: 2rem;
      & span {
        display: inline-block;
        font-size: 80px;
        color: rgb(91, 207, 217);
        margin: 0 0 1rem 0;

        

        & .react {
          
        }
        
      }
    }
  
    & h3 {
      font-size: 20px;
      color: rgb(85, 85, 234);
      font-weight: 555;
      margin: 0 0 2rem 0;

      padding-left: 2rem;
    }
    & p {
      font-size: 15px;
      padding-left: 2rem;
      line-height: 23px;
    }
  }
}

@media(max-width: 760px){
  .VacanciesCard {
    // max-width: 450px;
    // text-align: left;
    // border: 1px solid red;
    & .react_contain {
      // border: 2px solid blue;
      text-align: left;
      padding-left: 0rem;
      & span {
        display: inline-block;
        font-size: 80px;
        color: rgb(91, 207, 217);
        margin: 0 0 1rem 0;

        

        & .react {
          
        }
        
      }
    }
  
    & h3 {
      font-size: 20px;
      color: rgb(85, 85, 234);
      font-weight: 555;
      margin: 0 0 2rem 0;

      padding-left: 0rem;
    }
    & p {
      font-size: 15px;
      padding-left: 0rem;
      line-height: 23px;
    }
  }
}