.Request {
  padding-bottom: 5rem;
}
.background {

}
.container {

}
.Request {
  & .content {
    & .contain__request {
      padding: 0rem 2rem 4rem 2rem;
      text-align: center;
      
      & a {
        display: inline-block;
        padding: 1.5rem 4rem;
        border: 3px solid rgb(72, 72, 213);
        font-weight: 555;
        font-size: 16px;
        color: rgb(72, 72, 213);
      }
    }
    & .text {
      padding: 0 2rem;
      & p {
        font-size: 20px;
        color: rgb(6, 6, 6);
        line-height: 35px;
        font-family: 'Source Code Pro', monospace;
          font-family: 'Source Sans Pro', sans-serif;
          font-family: 'Raleway', sans-serif;
        & a { 
          font-family: 'Source Code Pro', monospace;
          font-family: 'Source Serif Pro', serif;
          display: inline-block;
          font-size: 28px;
          color: rgba(82, 82, 225, 0.947);
        }
      }
    }
  }
}