.OurteamContent {

}
.background {

}

.OurteamContent { 

  & .content {
    display: grid;

    padding: 1rem;

    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    
  
  }
}