.Ourteam {

  padding-bottom: 4rem;
}

.Ourteam {
  display: flex;
  justify-content: center;
  & h2 {
    font-size: 42px;
    margin-bottom: 40px;
    
    color: rgb(54, 48, 243);
    font-weight: 555;
  }
}