.MenuBurger { 
  display: none;
  justify-content: flex-end;
  & span {
    display: inline-block;
    padding: .6rem;
    position: relative;
    z-index: 5;
    // transition: all .3s;
    & .menu {
      font-size: 36px;
      color: rgb(252, 252, 252);
    }
  }
}

@media(max-width: 745px) {
  .MenuBurger {
    display: flex;
    & span {
      padding: calc(.4rem + (.6rem - .4rem) * ((100vw - 320px) / (745 - 320)));
      // & .menu {
      //   font-size: calc(26px + (26 - 36) * ((100vw - 320px) / (745 - 320)));
      // }
    }
  }
}