.JoinUsView {

  position: relative;
  padding-top: 9rem;
}
.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.304);

  margin-top: 125px;
}
.background {
  background: url(../../../../assets/main/joinus/joinus.webp);

  // height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;


  
}
.JoinUsView {
  & .content {
    padding: 0 .5rem;
    & .content__width {
      max-width: 840px;
      padding-top: 10rem;
      
      padding-bottom: 9rem;
      
      & h2 {
        font-size: 72px;
        font-weight: 555;
        line-height: 95px;

        color: white;

        margin-bottom: 3rem;

        position: relative;
        z-index: 1;
      }
      & p {
        font-size: 30px;
        line-height: 50px;

        color: white;
        margin-bottom: 4rem;
        position: relative;
        z-index: 1;
      }
      & .links {
        display: flex;
        // border: 2px solid red;
        // gap: 15px;
      
      & .btn {
        padding-top: 5rem;
        padding-bottom: 2rem;
        margin-right: 1rem;
        & a {
          position: relative;
          z-index: 1;
          
          font-size: 16px;
          display: inline-block;

          padding: 1rem 5rem;
          border: 3px solid white;
          border-radius: 3rem;
          background-color: white;
          

          color: black;
          font-weight: 555;

        
        }
      }
      }
    }
  }
}

@media(max-width: 645px) {
  .JoinUsView {
    & .content {
      
      & .content__width {
        
        
        & h2 {
          font-size: 50px;
          
        }
        & p {
          font-size: 24px;
          
        }

        & .links {
          flex-wrap: wrap;
          gap: 0;
        


        & .btn {
          margin-bottom: -2rem;
          
          & a {
          
            
            font-size: 16px;
            
  
          
          }
        }
      }
    }
    }
  }
  
}